<nav class="navbar navbar-default" role="navigation" style="background-color:rgba(200, 200, 200, 0.5);border:0px;">
	<div class="container">
			<ul id="mellow_footer" class="list-inline text-center footer_height">
				<li><a href="#">Terms</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Security</a></li>
				<li><a href="#">Contact</a></li>
				<li id="middle_logo" style="text-align:center;">
					<span><h1>Codemellow</h1></span>
					<span>2014 Codemollow. Inc</span>
				</li>
				<li><a href="#">Status</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">Traning</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">About</a></li>
			</ul>	        	    
		</div>
	</div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>