<link href="/stylesheets/market/left_side_menu.css" rel="stylesheet">
<div id="left_sidebar" class="hidden">
  <div id="sidebar_content">
    <p  class="category_list_title">CATEGORIES</p>
	<ul class="list-group category_list">
		<li class="list-group-item">Audio & Video</li>
		<li class="list-group-item">Business &  Enterprise</li>
		<li class="list-group-item">Communications</li>
		<li class="list-group-item">Development</li>
		<li class="list-group-item">Home & Education</li>
		<li class="list-group-item">Games</li>
		<li class="list-group-item">Graphics</li>
		<li class="list-group-item">Science & Engineering</li>
		<li class="list-group-item">Security & Utilities</li>
		<li class="list-group-item">System Administration</li>
	</ul>
  </div>
</div>