<link href="/stylesheets/market/right_side_menu.css" rel="stylesheet">
<div id="right_sidebar" class="hidden">
  <div id="right_sidebar_content">
    <h4 id="recentview_title">Recent view</h4>
    <ul id="right_sidebar_entry_list" class="list-group">
	</ul>
	<button type="button" class="btn btn-primary btn-lg btn-block">Add to Shopping cart</button>
  </div>
</div>
