.a:hover{

}


/* project desc modal */

#project_desc_modal {
  width: 1200px;
  font-family: 'Source Sans Pro';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project_desc_modal_title {
  height: 240px;
  margin: 0px;

}

.project_modal_title_right_btn{
  background-color: rgb(128,128,128);
  color: white;
  height: 36px;
  width: 147px;
  margin-bottom: 17px;
  font-size: 21px;
  border-radius: 7px;
  padding-top: 2px;
}

.project_modal_title_right_btn:hover {
  color: white;
}

.deal_now_btn{
  background-color: rgb(233,30,99);
}

#project_desc_modal .glyphicon {
  padding-left: 14px;
  padding-right: 14px;
  color: darkgray; 
}

#project_desc_modal .glyphicon:hover {
  color: #e91e63; 
}

#project_desc_modal_title_right {
  width: 208px;
  height: 240px;
  padding: 20px 31px 20px 30px;
}

.modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.project_desc_modal_title_buttons{
  padding: 0px;
}

.project_desc_modal_header{
}

.project_desc_modal_title_row {
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#project_desc_modal_project_picture {
  border-top-left-radius: 10px;  
}

#project_desc_rating_user_count {
  font-family: 'Source Sans Pro';  
}

#project_desc_modal_header_icon {
  font-size: 18pt;
  padding: 5px 0px 15px 0px;
  color: darkgray;
  float: right;
}

#project_desc_modal_body_center {
  height:500px;
  overflow-y:scroll;
  padding-left: 30px;
  padding-right: 30px;
}

/*#project_desc_modal_header_icon>a:hover{
  color: black;
}*/

#project_desc_modal_basic_info {
  margin: 0px;
}

#project_desc_modal_title_middle {
  padding: 20px 20px 20px 30px;
  width: 750px;
}

#project_desc_modal_body_left {
  padding : 20px;
}

#project_desc_modal_body_left_list{
  font-size: 20px;
}

.market_project_desc_modal_body{
  /*padding: 0px;*/
}

.project_desc_modal_left_catepory {
  /*border-right: 1px solid darkgray;*/
  height: 40px;
  padding: 0px;
}

.project_desc_modal_left_catepory.active span{
/*  font-weight: bold;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-right: 0px;*/
  font-weight: 700;
  color : #e91e63;
}

.project_desc_modal_left_catepory_link {
  padding: 0px !important;
}

.project_desc_modal_left_catepory_link span {
  color: darkgray;
}

.project_desc_modal_body_right {
  margin-top: 10px;
  border-left: 1px solid #c5c5c5;
}

.project_desc_modal_maintainer_name {
  font-size: 25px;
  height: 25px;
}

.project_desc_modal_project_name {
  height: 61px;
  font-size: 40pt;
  font-weight: bold;
}

.project_desc_modal_category {
  font-size: 22px;
  color: darkgray;
  padding-top: 5px;
}

.project_desc_modal_tags, .project_desc_modal_date{
  padding-top: 8px;
  font-size: 12pt;
  color: darkgray;
}

.project_modal_deal_now_btn {
}
/* project desc modal */

.card_maintainner_name{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: left;

}
.long_name_overflow{
  white-space:nowrap;
  overflow:auto;
  text-overflow:clip;
}
.long_name_overflow::-webkit-scrollbar { 
    display: none; 
}
.card_repository_name{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 26px;
  margin-bottom: 7px;
}

#project_desc_rating_user_count {
  padding : 6px 0px 0px 10px;
}

#project_desc_modal .rating-container, .rating-stars {
  padding-top : 15px;
  letter-spacing: 9px;
}

.review-rating{
  padding-right : 10px;
}





/*
  body left
*/

.project_desc_modal_body_left{
  font-size: 20px;
  font-weight: 700;
  color: #e91e63
}

.modal_desc_body_wrapper {
  margin: 0px 10px 0px 10px; 
}

.project_desc_modal_label {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  padding: 0;
}




.project_desc_modal_right_btn{
  height: 36px;
  width: 147px;
  margin-bottom: 10px;
  font-size: 21px;
  border-radius: 7px;
  padding-top: 2px;
  text-align: center;
}

.project_desc_modal_right_bottom_btn{
  margin-left: 20px;
}





