<div class="row">
	<div align='center' class="row">
		<p class="search_title_text"> SEARCH </p>
		<input id="search_input_box" type="text" />
		<p class="search_subtitle_text"> press enter to begin your search </p>
	</div>
</div>


<style type="text/css">
	.search_title_text{
        font-family: "FuturaStd-Medium";
		font-size: 42px;
        color:#e91e63;

	}
	.search_subtitle_text{
		font-size: 20pt;
		
	}

</style>