

<div id="project_modal_donate">
  <div class="row">
    
    <div id='project_donate_statistics_wrapper' class='col-sm-12'>
    	
    	<div class='col-sm-12'>
	    	<!-- <div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			     <span class="sr-only">60% Complete</span>
			  </div>
			</div>  -->
		</div>

			<!-- <div class='col-sm-4'><div class='project_modal_donate_value' id='project_modal_donate_funded' >64%</div>funded</div> -->
			<div class='col-sm-6'><div class='project_modal_donate_value' id='project_modal_donate_pledged' ></div>pledged</div>
			<div class='col-sm-6'><div class='project_modal_donate_value' id='project_modal_donate_backers' ></div>backers</div>

    </div>	

  </div>


  <hr/>

  <div class="row">
      <div id='project_donate_readme' class='col-sm-12'>
    	Donate us!
	</div>
  </div>



</div>






<script>
	//1. funded (??)
	//2. pledged (sum)
	//3. backer (count)
	function get_donate_info(){
		if(global_repository.current_repository_info 
			&& global_repository.current_repository_info.repository_id)
		{
			var donate_info_req={};
			donate_info_req.repository_id=global_repository.current_repository_info.repository_id;


			//console.log('/ajax/'+global_repository.current_repository_info.repository_name+'/donate_info')
			$.post('/ajax/'+global_repository.current_repository_info.repository_name+'/donate_info', donate_info_req, function(data){
				//console.log('donate', data);

				var pledged= data[0].pledged  ? data[0].pledged : 0;
				var backers= data[0].backers ? data[0].backers :0;

				$("#project_modal_donate_pledged").text('$'+pledged)
				$("#project_modal_donate_backers").text(backers)
			});
		}	
	}
	

	
</script>