
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
  <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

  <title>

    Codemellow

  </title>

  <!-- Bootstrap core CSS -->
  <link href="/library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/library/bootstrap/docs/assets/css/justified-nav.css" rel="stylesheet">

  <!-- commn css -->
  <link href="/stylesheets/common.css" rel="stylesheet">
  <!-- search css -->
  <link href="/stylesheets/dev/search_result.css" rel="stylesheet">

  </head>
  <body class="bs-docs-home" style='padding-top:50px;'>

    <!-- fixed header-->
    <div id="header">
      <% include ../header %> 
    </div>

    <div class="row left col-xs-3">
      <div class="col-xs-offset-1">
        <h4><b>Codemellow</b></h4>
        <h5>Wiliam Park</h5>
        <br />
        <br />
        <div class="row col-xs-6">
          <h5>Commits</h5>
          <h5>Branches</h5>
          <h5>Releases</h5>
          <h5>Contributors</h5>
          <h5>Income</h5>
        </div>
        <div class="col-xs-offset-1 row col-xs-4">
          <h5>4,125</h5>
          <h5>125</h5>
          <h5>80</h5>
          <h5>6,724</h5>
          <h5>$4,125,984</h5>
        </div>
        <div id="button-container" class="row col-xs-12">
          <button type="button" class="btn btn-custom">About</button>
          <button type="button" class="btn btn-custom">View all</button>
        </div>
      </div>
    </div>
    <div class="row middle col-xs-6">
      <div id="income-txt">
        <p id="income-amount"><b>$ 4,276,984</b>  </p>
      </div>
      <canvas id="myCanvas" width="900" height="900"></canvas>
    </div>
    <div class="row right col-xs-3">
      <div class="col-xs-10">
        <h3><b>Ranking</b></h3>
        <h5>Income</h5>
        <br />
        <br />
        <div class="col-xs-4">
          <h5>1st</h5>
          <h5>2nd</h5>
          <h5>3rd</h5>
          <h5>4th</h5>
          <h5>5th</h5>
          <h5>6th</h5>
          <h5>7th</h5>
          <h5>8th</h5>
          <h5>9th</h5>
          <h5>10th</h5>
        </div>
        <div class="col-xs-8">
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
          <h5>William Park</h5>
        </div>
        <div id="button-container" class="col-xs-12">
          <button type="button" class="btn btn-custom">Never see this page</button>
        </div>
      </div>
      <div class="col-xs-2">
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>-->

    <script src="/library/jquery/jquery-2.1.0.min.js"></script>
    <script src="/library/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/scripts/dev/search/search_result.js"></script>
</body>
</html>