
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

    <title>
      
        Main
      
    </title>

  <!-- Bootstrap core CSS -->
    <link href="/library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/library/bootstrap/docs/assets/css/justified-nav.css" rel="stylesheet">
  <!-- commn css -->
  <link href="/stylesheets/common.css" rel="stylesheet">
  <!-- market css -->
  <link href="/stylesheets/main.css" rel="stylesheet">
  </head>
  <body class="bs-docs-home" style='padding-top:100px'>
    
    <!-- Fixed navbar -->
    <div id="header">
      <% include ../header %> 
    </div>
    <!-- content -->
    <div id='main_container' class='container' style='color:black;'>
      <div id='side_bar' class='row col-sm-2'>
        <ul class="list-group">
          <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_input" type="button" value="Released"></li>
          <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_input" type="button" value="Every"></li>
          <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_input" type="button" value="Easy"></li>
          <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_input" type="button" value="Code"></li>
          <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_input" type="button" value="News"></li>
          <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_input" type="button" value="Comment"></input></li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item side_bar_bg">
            <h4>Search Options</h4><h6>Align</h6><input class="input-lg side_bar_sm_input" type="button" value="Comment"></input><input class="input-lg side_bar_sm_input" type="button" value="Comment"></input><h6>Period</h6><input class="input-lg side_bar_sm_input" type="button" value="Whole"></input><input class="input-lg side_bar_sm_input" type="button" value="a Day"></input><input class="input-lg side_bar_sm_input" type="button" value="a Week"></input><input class="input-lg side_bar_sm_input" type="button" value="a Month"></input><input class="input-lg side_bar_sm_input" type="button" value="a Year"></input><input class="input-lg side_bar_sm_input" type="button" value="Input Due"></input><h6>Target</h6></li>
            <li class="list-group-item side_bar_bg"><input class="input-lg side_bar_sm_input full_width" type="button" value="Reset"></input></li>
          
        </ul>
      </div>
      <div class='row col-vsm-offset col-sm-9'>
        <div class='row'>
            <article class="panel-main padding_10">
              <h2 class="no_margin right_top"> 1,289 </h2>
              <h2 class="no_margin"> Released Sources </h2>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> Elasticsearch/Elasitcsearch </h3>
                    <h5> Code description Code description Code description Code description</h5>
                    <h7 class="light_gray_text_color">Last update 00days ago</h7>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> Elasticsearch/Elasitcsearch </h3>
                    <h5> Code description Code description Code description Code description</h5>
                    <h7 class="light_gray_text_color">Last update 00days ago</h7>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> Elasticsearch/Elasitcsearch </h3>
                    <h5> Code description Code description Code description Code description</h5>
                    <h7 class="light_gray_text_color">Last update 00days ago</h7>
                  </div>
              </div>
              <h4 class="no_margin right_align gray_text_color"> more </h4>
            </article>
        </div>
        <div class='row'>
            <article class="panel-main padding_10">
              <h2 class="no_margin right_top"> 1,289 </h2>
              <h2 class="no_margin"> Every Sources </h2>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> Elasticsearch/Elasitcsearch </h3>
                    <h5> Code description Code description Code description Code description</h5>
                    <h7 class="light_gray_text_color">Last update 00days ago</h7>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> Elasticsearch/Elasitcsearch </h3>
                    <h5> Code description Code description Code description Code description</h5>
                    <h7 class="light_gray_text_color">Last update 00days ago</h7>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> Elasticsearch/Elasitcsearch </h3>
                    <h5> Code description Code description Code description Code description</h5>
                    <h7 class="light_gray_text_color">Last update 00days ago</h7>
                  </div>
              </div>
              <h4 class="no_margin right_align gray_text_color"> more </h4>
            </article>
        </div> 
        <div class='row'>
            <article class="panel-main padding_10">
              <h2 class="no_margin right_top"> 32,221 </h2>
              <h2 class="no_margin"> Easy Sources </h2>
              <div class='row'>
                <div class="col_4 margin_top_10 white_background padding_5">
                  <img src="/h1.jpg" class="img-rounded height_100">
                  <h6 class="no_margin"><strong>Elasticsearch/Elasitcsearch</strong></h6>
                  <h7 class="no_margin light_gray_text_color"> (Div 0.12) </h7>
                  <h7 class="light_gray_text_color"> Low-latency, high-quality voice communication for gamers</h7>
                  <div class='dummy'></div>
                  <div>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star-empty'></span>
                  </div>
                  <h7><strong>49,259</strong><span class="gray_text_color"> weekly downloads</span></h7>
                  <h7><strong>Last Updated:</strong><span class="gray_text_color"> 2014-04-7</span></h7>
                </div>
                <div class="col_4 margin_top_10 white_background padding_5">
                  <img src="/h1.jpg" class="img-rounded height_100">
                  <h6 class="no_margin"> <strong>Elasticsearch/Elasitcsearch</strong> </h6>
                  <h7 class="no_margin light_gray_text_color"> (Div 0.12) </h7>
                  <h7 class="light_gray_text_color"> Low-latency, high-quality voice communication for gamers</h7>
                  <div class='dummy'></div>
                  <div>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star-empty'></span>
                  </div>
                  <h7><strong>49,259</strong><span class="gray_text_color"> weekly downloads</span></h7>
                  <h7><strong>Last Updated:</strong><span class="gray_text_color"> 2014-04-7</span></h7>
                </div>
                <div class="col_4 margin_top_10 white_background padding_5">
                  <img src="/h1.jpg" class="img-rounded height_100">
                  <h6 class="no_margin"> <strong>Elasticsearch/Elasitcsearch</strong> </h6>
                  <h7 class="no_margin light_gray_text_color"> (Div 0.12) </h7>
                  <h7 class="light_gray_text_color"> Low-latency, high-quality voice communication for gamers</h7>
                  <div class='dummy'></div>
                  <div>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star-empty'></span>
                  </div>
                  <h7><strong>49,259</strong><span class="gray_text_color"> weekly downloads</span></h7>
                  <h7><strong>Last Updated:</strong><span class="gray_text_color"> 2014-04-7</span></h7>
                </div>
                <div class="col_4 margin_top_10 white_background padding_5">
                  <img src="/h1.jpg" class="img-rounded height_100">
                  <h6 class="no_margin"> <strong>Elasticsearch/Elasitcsearch</strong> </h6>
                  <h7 class="no_margin light_gray_text_color"> (Div 0.12) </h7>
                  <h7 class="light_gray_text_color"> Low-latency, high-quality voice communication for gamers</h7>
                  <div class='dummy'></div>
                  <div>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star-empty'></span>
                  </div>
                  <h7><strong>49,259</strong><span class="gray_text_color"> weekly downloads</span></h7>
                  <h7><strong>Last Updated:</strong><span class="gray_text_color"> 2014-04-7</span></h7>
                </div>
              </div>
              <h4 class="right_align gray_text_color"> more </h4>
            </article>
        </div>
        <div class='row'>
            <article class="panel-main padding_10">
              <h2 class="no_margin right_top"> 650,024 </h2>
              <h2 class="no_margin"> Code </h2>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> EBashkoff/elasticsearch-test-.ruby-gemset </h3>
                    <h5 class="white_background padding_3"> 1 elastic</h5>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> EBashkoff/elasticsearch-test-.ruby-gemset </h3>
                    <h5 class="white_background padding_3"> 1 elastic_model</h5>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded small_img">
                </div>
                  <div class="col-sm-9">
                    <h3 class="gray_text_color"> EBashkoff/elasticsearch-test-.ruby-gemset </h3>
                    <h5 class="white_background padding_3"> 1 elastic</h5>
                  </div>
              </div>
              <h4 class="no_margin right_align gray_text_color"> more </h4>
            </article>
        </div>
        <div class='row'>
            <article class="panel-main padding_10">
              <h2 class="no_margin right_top"> 2,411 </h2>
              <h2 class="no_margin"> News </h2>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded middle_img">
                </div>
                  <div class="col-sm-9">
                    <h4 class="right_top"> Feb, 4, 2014</h4>
                    <h4> Daum, Released Voice Recognizing API in public </h4>
                    <h5> Lorem ipsum dolor sit amet, ligula suspendisse nulla pretium, rhoncus tempor fermentum, enim integer ad vestibulum volutpat. Nisl rhoncus turpis est, vel elit, congue wisi enim nunc ultricies sit, magna tincidunt. Maecenas libero cras. Faucibus at. Arcu habitasse elementum est, ipsum purus pede pdapibus libero duis.</h5>
                  </div>
              </div>
              <div class="row margin_top_10">
                <div class="col-sm-2">
                  <img src="/h1.jpg" class="img-rounded middle_img">
                </div>
                  <div class="col-sm-9">
                    <h4 class="right_top"> Feb, 4, 2014</h4>
                    <h4> Daum, Released Voice Recognizing API in public </h4>
                    <h5> Lorem ipsum dolor sit amet, ligula suspendisse nulla pretium, rhoncus tempor fermentum, enim integer ad vestibulum volutpat. Nisl rhoncus turpis est, vel elit, congue wisi enim nunc ultricies sit, magna tincidunt. Maecenas libero cras. Faucibus at. Arcu habitasse elementum est, ipsum purus pede pdapibus libero duis.</h5>
                  </div>
              </div>
              <h4 class="no_margin right_align gray_text_color"> more </h4>
            </article>
        </div> 
        <div class='row'>
            <article class="panel-main padding_10">
              <h2 class="no_margin right_top"> 0 </h2>
              <h2 class="no_margin"> Comments </h2>
              <div class="dummy"></div>
            </article>
        </div>
      </div><!-- non sidebar  -->
    
    </div><!-- main container with sidebar -->


  <div id="footer">
    <% include ../footer %> 
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/library/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--script type="text/javascript">
    $(document).scroll(function(){
        if($(document).width() > 768)
        $("#side_bar").css("top", $(document).scrollTop());
    })
  </script-->
  </body>
</html>
