<div class="modal fade container deal_modal" id="modal_deal_cancelled" tabindex="-1" role="dialog" aria-labelledby="completed_deal_label" aria-hidden="true">
    
        	<!-- <div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
          			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          		</button>

          		<div class="modal-title" id="completed_deal_label">
          			<div class='row'>
          				<div class='col-xs-9'>
          					<h4 id='modal_deal_cancelled_maintainer'>Maintainer name</h4>
		          			<h1 id='modal_deal_cancelled_project'>Project Name</h1>
          				</div>

          				<div class='col-xs-3 text-right'>
          					
          					<div id='modal_deal_cancelled_status' class='modal_deal_status text-center ' style=' background-color:lightskyblue;color:white'>Succeed</div>
          					
          				</div>
          			</div>
          			
          		</div>
        	</div> -->

          
 <div class="modal-header" style="padding-top:0px">

    <div class="deal_modal_header">
      <div class="row deal_modal_title_row">
        <div class="no_padding col-modal-2 deal_modal_title_left">
          <img class="deal_modal_project_picture" src="/image/add_your_img.png" alt="..." style="width:100%">
        </div>
        <div class="row col-modal-8 no_padding deal_modal_title"> 
          <div class="col-sm-9 deal_modal_title_middle">
           
           
            <div class="deal_modal_maintainer_name" id="modal_deal_cancelled_maintainer">Maintainer Name</div>
            <div class="deal_modal_project_name" id="modal_deal_cancelled_project">Project Name</div>
           

            <div class="row">
              <div class="col-sm-12">
                <div style="float:left">
                  <input id="project_desc_total_rating" class="rating" value="0" data-readonly="true" data-show-clear="false" data-show-caption="false" data-size="xs">
                </div>
                <div style="float:left">
                  <h4 id="project_desc_rating_user_count"></h4>
                </div>
              </div>
            </div>

            <div class="deal_modal_tags">
              <span>#tag_01&nbsp&nbsp</span>
              <span>#tag_02&nbsp&nbsp</span>
              <span>#tag_03</span>
            </div>

            <div class="deal_modal_category">
              <span>Category</span>
            </div>
          </div>


          <div  class="col-sm-3 no_padding deal_modal_title_right">
            <div class="row deal_modal_header_icon">
              <a  class="glyphicon glyphicon-heart project_like deal_modal_like" ></a>
              <a  class="glyphicon glyphicon-remove modal-close deal_modal_close" data-dismiss="modal"></a>
            </div>

          </div>   
            
        </div>
      </div>
    </div>
  </div>
        	
        	<div class="modal-body">
        		<div class='row'>
        			<div class='col-xs-8 col-xs-offset-2'>
		        		<h3>Use   <small id='modal_deal_cancelled_purpose'>for pintos</small></h3><hr>
		        		<h3>Detail   <small id='modal_deal_cancelled_explanation'>Detail detail detail</small></h3><hr>
		        		<h3>Date   <small id='modal_deal_cancelled_expiration_date'>2014-01-01</small></h3><hr>
		        		<h3>Price   <small id='modal_deal_cancelled_price'>3,000 $</small></h3><hr>
		        	</div>
	        	</div>

          		
          		
        	</div>
        	
        	<div class="modal-footer">
          
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      	
 </div>



 