
<div class='row'>
	<div class='col-sm-offset-2 col-sm-8'>
		<br/>
		<br/>
		<h1>my projects</h1>
		<div class='row'>
			<div class='col-sm-12'>
				<div class="navbar-form navbar-left" >
			        <button id="header_tab_myproject_search" class="btn"> <span class="glyphicon glyphicon-search"></span></button>
			        <div class="form-group">
						<input id='header_tab_myproject_search_input' type="text" class="form-control" placeholder="Search Keywords...">
			        </div>
			  	</div>
			</div>
		</div>
		<hr>	
		<div id="mypage_project_list" class='row'></div>		
	</div>
</div>

<script>


function header_tab_myproject_search(){
	//repository name indexof gogogo
	var str=$("#header_tab_myproject_search_input").val().toLowerCase();
	var targets=$(".small_project_entry");
	var len=targets.length;
	for(var i=0;i<len;i++){
		if( $(targets[i]).text().toLowerCase().indexOf(str) > -1){
			$(targets[i]).css('display','');
		}else{
			$(targets[i]).css('display','none');
		}
	}
}

$("#header_tab_myproject_search").off('click');
$("#header_tab_myproject_search").on('click', header_tab_myproject_search);
$("#header_tab_myproject_search_input").on('keyup', function(e){
	e.keyCode==13 && header_tab_myproject_search();
});


</script>