
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

    <title>
      
        Main
      
    </title>

    <!-- Bootstrap core CSS -->
      <link href="/library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/library/bootstrap/docs/assets/css/justified-nav.css" rel="stylesheet">
    <!-- commn css -->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <!-- dev css -->
    <link href="/stylesheets/dev.css" rel="stylesheet">

  </head>

  <body class="bs-docs-home" style='padding-top:100px'>
    
    <!-- Fixed navbar -->
    <div id="header">
      <% include header %> 
    </div>

    <!-- content -->

    <div id='main_container' class='container' style='color:black;'>
      <div class='row'>
        <div id='side_bar' class='col-sm-3'>
          <div id= 'side_bar_title'class='row'>
            <div class='col-sm-12'>Search</div>
          </div>
          <div id='search-menu'>

            <div id='category_bar'>
              <div class='row'>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>

                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>

                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>      
            </div>         
             
            <div class='row'>
              <div class="btn-group col-sm-12">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="dropdown-lead">Repositories</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Japanese</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">Korea</a></li>
                </ul>
              </div>   
            </div>          
            <div class='row'>
              <div class="btn-group col-sm-12">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="dropdown-lead">Best Match</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Japanese</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">Korea</a></li>
                </ul>
              </div>   
            </div>  
            <div class='row'>
              <div class="btn-group col-sm-12">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="dropdown-lead">Languages</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Japanese</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">Korea</a></li>
                </ul>
              </div>   
            </div>
            <a href="/dev/advanced_search">Advanced Search</a>                    
          </div>

        </div>
        
        <div id='dev_main_content' class='col-sm-9'>

          <div class='row'>
            <form class="navbar-form navbar-left" role="search">
              <div class="input-group" style="float:left">
                <input type="text" class="form-control" placeholder="Find a Repository..." style="border-right:0px">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default" style="border-left:0px"><span class='glyphicon glyphicon-search'> </span></button>
                </div>
              </div>
            </form>
          </div>
          <hr class="divider">
          <div class="row">
            <article class='repository-search-field col-sm-12'>
              <ul class='list-group'>
                <li class='list-group-item' style='color:gray;background-color:whitesmoke'>
                  <div class='row'>
                    <div class='col-sm-1'>
                      <!-- <span class='glyphicon glyphicon-file'></span> -->
                      <h4 class='index'>1</h4>
                    </div>
                    <div class='col-sm-11'>
                      <div class='btn-groupo repo-stats' style='float:right'>
                        <button type='button' class='btn btn-link'><span class=''>C++</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-star-empty'></span> <span class=''> 1004</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-random'></span> <span class=''>123</span></button>
                      </div>
                      
                      <h4 class='repo-name'><a href='#'>Simdj/Hadoop</a></h4>
                      <div class='content' style='color:black'>Open source, Hadoop</div>
                      <div class='last_updated'>Last updated 40 minutes ago</div>
                    </div>
                  </div>
                  
                </li>

                <li class='list-group-item' style='color:gray;background-color:whitesmoke'>
                  <div class='row'>
                    <div class='col-sm-1'>
                      <!-- <span class='glyphicon glyphicon-file'></span> -->
                      <h4 class='index'>2</h4>
                    </div>
                    <div class='col-sm-11'>
                      <div class='btn-groupo repo-stats' style='float:right'>
                        <button type='button' class='btn btn-link'><span class=''>C</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-star-empty'></span><span class=''> 104</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-random'></span><span class=''> 13</span></button>
                      </div>
                      
                      <h4 class='repo-name'><a href='#'>Simdj/Pintos</a></h4>
                      <div class='content' style='color:black'>Open source, Pintos</div>
                      <div class='last_updated'>Last updated 6 months ago</div>
                    </div>
                  </div>
                  
                </li>

                <li class='list-group-item' style='color:gray;background-color:whitesmoke'>
                  <div class='row'>
                    <div class='col-sm-1'>
                      <!-- <span class='glyphicon glyphicon-file'></span> -->
                      <h4 class='index'>3</h4>
                    </div>
                    <div class='col-sm-11'>
                      <div class='btn-groupo repo-stats' style='float:right'>
                        <button type='button' class='btn btn-link'><span class=''>C++</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-star-empty'></span> <span class=''>34</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-random'></span> <span class=''>23</span></button>
                      </div>
                      
                      <h4 class='repo-name'><a href='#'>Simdj/Graphics</a></h4>
                      <div class='content' style='color:black'>Open source, Graphics</div>
                      <div class='last_updated'>Last updated 12 months ago</div>
                    </div>
                  </div>
                  
                </li>

                <li class='list-group-item' style='color:gray;background-color:whitesmoke'>
                  <div class='row'>
                    <div class='col-sm-1'>
                      <!-- <span class='glyphicon glyphicon-file'></span> -->
                      <h4 class='index'>4</h4>
                    </div>
                    <div class='col-sm-11'>
                      <div class='btn-groupo repo-stats' style='float:right'>
                        <button type='button' class='btn btn-link'><span class=''>Node.js</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-star-empty'></span> <span class=''>10204</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-random'></span> <span class=''>1253</span></button>
                      </div>
                      
                      <h4 class='repo-name'><a href='#'>Simdj/codemellow</a></h4>
                      <div class='content' style='color:black'>Open source, codemellow</div>
                      <div class='last_updated'>Last updated 4 minutes ago</div>
                    </div>
                  </div>
                  
                </li>

                <li class='list-group-item' style='color:gray;background-color:whitesmoke'>
                  <div class='row'>
                    <div class='col-sm-1'>
                      <!-- <span class='glyphicon glyphicon-file'></span> -->
                      <h4 class='index'>5</h4>
                    </div>
                    <div class='col-sm-11'>
                      <div class='btn-groupo repo-stats' style='float:right'>
                        <button type='button' class='btn btn-link'><span class=''>PHP</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-star-empty'></span> <span class=''>4</span></button>
                        <button type='button' class='btn btn-link'><span class='glyphicon glyphicon-random'></span> 1<span class=''>3</span></button>
                      </div>
                      
                      <h4 class='repo-name'><a href='#'>Simdj/Goorm</a></h4>
                      <div class='content' style='color:black'>Open source, Goorm</div>
                      <div class='last_updated'>Last updated 4 months ago</div>
                    </div>
                  </div>
                  
                </li>

              </ul> 
            </article>
          </div>

        </div>

      </div>

      <!-- Modal -->
      <div class="modal fade" id="project_desc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class='row'>
            <div class="modal-content col-sm-12">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class='modal-title'>
                  <div class='row'>
                    <div class='col-sm-1'>
                      Favicon
                    </div>
                    <div class='col-sm-7'>
                      <div class='project_name'>
                        <h2>Pintos</h2>
                      </div>
                      <div class='project_content'>
                        <div class='download'>
                          <span class='glyphicon glyphicon-download'></span> 1234 Downloads
                        </div>
                        <div class='star'>
                          <span class='glyphicon glyphicon-star'></span> 5312 Stars
                        </div>
                        <div class='last_update'>
                          <span class='glyphicon glyphicon-calendar'></span> Last Update: 5 days ago
                        </div>
                      </div>
                    </div>
                    <div class='col-sm-4'>
                      <div class='star_img'>
                        5312
                      </div>
                      <div class='download_btn_wrapper'>
                        <button type='button' class='btn btn-info btn-block'>View detail page</button>
                        <button type='button'class='btn btn-success btn-block history_toggle' >history</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
              </div>
              <div class="modal-body">
                <div class='row'>
                  <div class='col-sm-9'>
                    <label id='project_version_info'>version 2.0</label>
                    <div class='desc_carousel'>
                      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active text-center" >
                             
                           <iframe width="640" height="360" src="//www.youtube.com/embed/s0HX-NAQyrg" frameborder="0" allowfullscreen></iframe>
                          </div>
                          <div class='item text-center'>
                            <iframe width="640" height="360" src="//www.youtube.com/embed/Fg6Zps-bzV4" frameborder="0" allowfullscreen></iframe>
                          </div>
                          <div class='item text-center'>
                            <iframe width="640" height="360" src="//www.youtube.com/embed/6Dt-JMsYI7c" frameborder="0" allowfullscreen></iframe>
                          </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                    <div class='desc_content'>
                      <p>
                        <h2>Description</h2>
                       Want to know what is the score of the team that you follow? You love sports and you want to get all the updates and information in real time? Download 365scores Notifier to start getting all the scores in your chrome browser!
                      </p>
                      <p>
                        <h2>Featues</h2>
                        <ul>
                          <li> Live Scores</li>
                          <li> News</li>
                          <li> Notifications</li>
                        </ul>
                        </p>
                    </div>
                  </div>
                   <div class='project_version_tree col-sm-3' style='background-color:white;border-radius:12px;'>
                    <p>Hist</p>
                    <p>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    dummy dummy<br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>       
    </div>


    <!-- fixed footer -->
    

    <!-- Bootstrap core JavaScript     -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/library/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>

      // $('#category_bar').css('left', $('#attention_project_pannel').left());
      // $('#category_bar').css('top', $('#attention_project_pannel').top());

      $('#category_bar').css('right', $('#search-menu').width() + 50);
      $(".repo-name").click(function(){
       $("#project_desc_modal").modal();
      })     
    </script>
  </body>
</html>
